@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
body{
    margin: 0%;
    padding: 0%;
    font-family: Libre Baskerville, sans-serif !important;
    overflow-x: hidden;
}
#header{
    position: fixed;
    width: 100vw;
    overflow: hidden;
    z-index: 1000;
}
.container{
    background-color: #f4890e;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 70px;
    margin-bottom: 0px;
    overflow: hidden;
}

#menu{
    display: flex;
    margin-top: 1.3rem;
    list-style: none;

}

#menu a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    padding: 10px 25px;
}
#menu a:hover{
    background-color:#ffa741;
    border: none;
    border-radius: 20px;
}
#button-mobile{
    display: none;
}
.middle-top{
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
    font-weight: 550;
    background-image: url(images/background-copy.jpeg);
    background-size: cover; 
    background-color: #ffa741;
    background-repeat: no-repeat; 
    width: 100%; 
    height: auto;
}
    
.container-tittles-top{
    padding-top:  30vh;
    padding-bottom: 35vh;

}
      
.tittle-1{
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0px;
    color: #660295;
    font-size: 30px;
}
.tittle-2{
    margin-top: 0%;
    padding-top: 0%;
    color: #ffdfba;
    font-size: 30px;
    margin-bottom: 0px;
}
.tittle-3{
    margin-top: 0%;
    padding-top: 0%;
    color: #075721;
    font-size: 30px;
    margin-bottom: 50px;
}

.button-1{
    border: none;
    border-radius: 30px;
    font-family: serif;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    width: 30%;
    background-color: #075721;
    font-family: Libre Baskerville, sans-serif !important;
}
.middle-center{
    background-color: #fff5e9; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vw;

}
.container-video {
    padding-left: 4%;
}
.container-text{
    
    font-size: 18px;
    font-weight: bold;
    color: #6b481e;
    padding-left: 3vw;
}
.text-align{
    margin: 0px;
    padding: 0px;
}
.video{
    border-radius: 20px;
}
.middle-center-2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(imagens/formsbackground.jpeg);
    background-size: cover;
    background-color: #4d0b50;
    width: 100%;
    height: 60vw;
    
}
.forms{
    margin-right: 2vw;
    color: white;

}
.container-forms{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
}
.input {
    outline: none;
    padding-left: 30px;
    border-radius: 80px;
    border-style: none;
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
    font-family: Libre Baskerville, sans-serif;;

}
::placeholder{
    color: #23506d;
    font-family: Libre Baskerville, sans-serif;
}

.input-user{
    outline: none;
    padding: 0px;
    border-radius: 80px;
    border-style: none;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 30px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.button-2{
    margin-top: 3%;
    text-align: center;
    border: none;
    border-radius: 30px;
    font-family: serif;
    color: white;
    text-decoration: none;
    width: 105%;
    height: 9%;
    padding: 15px;
    background-color:#fc8700;
    font-size: 20px;
    align-items: center;
    font-family: Libre Baskerville, sans-serif !important;
    
}
.container-forms-text{
    margin-top: 10%;
    color: white;
    padding-left: 3%;
    margin-top: 1%;
    font-size: 12px;
}
.paragraph-forms-text{

    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: 1px;
    font-size: 15px;
    color: #c6b1c7;
}
h1{
    font-weight: bolder;
    font-size: 40px;
}
h2{
    font-weight: bolder;
    font-size: 40px;
}
.bottom-top{
    display: flex;
    background-color: #126c30;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65vw;
}
.iframe-band-camp{
    margin-left: 5%;
    margin-top: 8%;
}
.text-band-camp{
    margin-left: 10%;
    margin-top: 12%;
}
.paragraph-band-camp{
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: justify;
}
.bottom-top-2 {
    background-color: #FFF5E9;
}
.text-ecommerce{
    padding-top: 9%;
    text-align: center;
}
.text-ecommerce h3{
    font-size: 30px;
    margin-bottom: 2%;
    color: #562E00;
}
.text-ecommerce p {
    margin-bottom: 0%;
}
.container-central-dialog{
    padding-top: 5%;
    padding-bottom: 5%;
}
.container-dialog {
    display: grid;
    grid-template-columns: repeat(2, 505px); 
    grid-gap: 30px; 
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dialog-box {
    width: 505px; 
    height: 256px; 
    background-color: #FFF5E9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dialog::backdrop{
    background-color: black;
 
}
dialog{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    height: 110%;
    background-color: #FFFFFF;
    border: none;
    border-radius: 30px;

}
.dialog-img{
    margin-top: 5%;
}
.text-dialog{
    background-color:#FFE7CB;
    color: #562E00;
    text-align: center;
    justify-content: center;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;

}
.text-dialog h5{
    font-size: 30px;
    font-weight: bolder;
}
.text-dialog p {
    margin-bottom:0;
    font-size: 15px;
}
.dialog-close{
    margin-top: 2.5%;
    border: none;
    background-color: #a10202;
    border-radius: 20px;
    width: 150px;
    padding: 8px;
    color: #FFFFFF;
    font-weight: bold;
    font-family: Libre Baskerville, sans-serif !important;
}
.dialog-button{
    border: none;
    background: none;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    font-family: Libre Baskerville, sans-serif !important;

}
.dialog-button-2{
    border: none;
    background: none;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    font-family: Libre Baskerville, sans-serif !important;
    
}
.dialog-button-3{
    border: none;
    background: none;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    font-family: Libre Baskerville, sans-serif !important;
    
}
.dialog-button-4{
    border: none;
    background: none;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    font-family: Libre Baskerville, sans-serif !important;
    
}
.bottom-medium{
    display: flex;
    width: 100%;
    height: 50vw;
    color:#562e00 ;
    background-color:#ffffff;
    align-items: center;
    justify-content: center;
}
.text-donation{
    margin-right: 20% ;
}
h3{
    margin-bottom: 5%;
    font-size: 50px;
    font-weight: bold;
}
.text-donation h4{
    font-weight: bold;
    font-size: 30px;
}
.donation-paragraph{
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 20px;
}
.bottom-final{
    background-color: #FF961D;
    align-items: center;
    align-content: center;
}

.instagram-container{
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
}
.instagram-logo{
    padding-bottom: 25px;
}

.footer{
    background-color: #fff5e9;
    padding-top: 5%;
    color: #572f01;
}
.support{
    margin-right: 20%;
}
.support-info{
    border-left: solid;
    border-left-color: #6b481e;
    padding-left: 15px;
}

.support-paragraph{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2%;

}
.support-paragraph-1{
    margin-bottom: 0;
}
.container-support{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6%;
    margin-bottom: 50px;
}
.container-support-credits{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.support-credits{
    margin-right: 40%;
    padding-left: 10%;

}
.support-images{
    padding-right: 30px;
    padding-bottom: 60px;
    
}
@media (max-width: 1037px){
    .body{
        overflow-x: hidden;
    }
    .container{
        display: flex;
        justify-content: space-between;
        background-color: #f4890e;
    }
    #button-mobile{
        display:block;
        margin-top: 1.2rem;
        margin-right: 10px;
    }
    #menu{
        display:block;
        margin-top: 0%;
        font-size: 30px;
        position: fixed;
        width: 40vw;
        top: 69px;
        right: 0px;
        height: 0px;
        transition: 0.4s;
        background-color: #f7bb66;
        opacity: 0.92;
        visibility: hidden;
        overflow-y: hidden;
    }
    #menu li{
        padding: 25px 0px;

    }
    #menu a {
        font-size: 20px;
        color: #140214;
    }
    #menu a:hover{
        background-color: #750779;
        color: #d23bd2;
    }
    #nav.active #menu{
        height: calc( 100vh - 69px);
        visibility: visible;
        overflow-y: auto;
        z-index: 1000;
        margin-left: 0;
        position: fixed;

    }
    #button-mobile{
        background: none;
        border: none;
    }
    .middle-top{
        margin-top: 0;
        background-image: url(images/Mobile.svg);
    
    }
    .container-tittles-top{
        padding-top:  30vh;
        padding-bottom: 50vh;
    }
    .tittle-1{
        padding-top: 0px;
        margin-top: 0;
        margin-bottom: 0px;
        margin-left: 20px;
        margin-right: 20px;
        color: #660295;
        font-size: 35px;
        margin-bottom: 20px;
    }
    .tittle-2{
        margin-top: 0%;
        padding-top: 0%;
        margin-left: 20px;
        margin-right: 20px;
        color: #ffdfba;
        font-size: 35px;
        margin-bottom: 20px;
    }
    .tittle-3{
        margin-top: 0%;
        padding-top: 0%;
        margin-left: 20px;
        margin-right: 20px;
        color: #075721;
        font-size: 35px;
        margin-bottom: 50px;
    }
    
    .button-1{
        border: none;
        border-radius: 30px;
        font-family: serif;
        color: white;
        text-decoration: none;
        font-size: 20px;
        padding: 10px;
        width: 80%;
        background-color: #075721;
        
    }
    .middle-center{
        background-color: #fff5e9; 
        display: block;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 150vh;
        
    
    }
    .container-video{
        padding-top: 20%;
        margin-left: 15px;
        margin-right: 20px;
        padding-bottom: 20%;
    }
    .video{

        width: 320px;
        height: 250px;
        border-radius: 25px;
        background: #140214;

    }
    .container-text{
        font-size: 15px;
        font-weight: bold;
        color: #6b481e;
        margin-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
    }
    .text-align{
        margin: 0px;
        padding: 0px;
    }
    .middle-center-2{
        display: block;
        height: 160vh;
    }
    .container-forms-text{
        padding-top: 20px;
        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .container-forms{
        padding-top: 6%;
        margin-left: 23px;
        align-items: center;
    }
    .input{
        width: 80%;
        position: relative;
    }
    .input-user{
        width: 80%;
        position: relative;
    }
    .button-2{
        width: 85%;
        position: relative;
    }
    .bottom-top{
        display: block;
        margin-top: 0%;
        padding-top: 0%;
        height: 190vh;

    }
    .iframe-band-camp{
        margin-top: 0px;
        padding-top: 50px;
        padding-left: 10px;
    }
    .text-ecommerce{
        margin-left: 20px;
        margin-right: 20px;
    }
    .container-central-dialog{
        margin-left: 40px;
    }
    .container-dialog{
        display: block;
    }
    .dialog-box {
        width: 300px; 
        height: 200px; 
        margin-bottom: 20px ;
    }
    .dialog-img{
        display: none;

    }
    dialog{
        height: 450px;
    }
    .text-dialog{
        width: 220px;
        height: 360px;
        margin-left: 0;
    }
    .bottom-medium{
        display: block;
        height: 130vh;
    }
    .text-donation h4{
       padding-left: 40px ;
    }
    .donation-paragraph{
        font-size: 15px;
        margin-left: 50px ;
    }
    .pix-qr{
        margin-top: 60px;
        padding-left: 20px;
    }
    .instagram-container{
        margin-left: 20px;
        width: 150px;
    }
    .footer{
        display: block;
    }
    .container-support{
        display: block;
    }
    .container-support-credits{
        display: block;
    }
    .support-info{
        margin-right: 10px;
    }
    .support-paragraph-1 {
        margin: 0px;
        padding: 0px;
    }
    .support-images{
        margin-left: 30px;
    }
}
