body{
    margin: 0;
    padding: 0;
    font-family: Libre Baskerville, serif !important;
    overflow-x: hidden;
}

#top{
    position: fixed;
    background-color: #f4890e;
    overflow: hidden;
    padding: 0;
    width: 100%;
    margin-bottom: 0;
    z-index: 1;
}
.container{
    justify-content: center;
    align-items: center;
    max-width: 100%;
    display: flex;
    background-color: #f4890e ;
    
}

.logo{
    text-align: center;

}
.menu{
    text-align: center;

}
.menu li{
    display: inline-block;
    list-style: none;
    padding: 30px 20px 0px;
    gap: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #a05807;
}
.menu li > a{
    text-decoration: none;
    color: #562e00;

}
.menu li > a:hover {
    border: solid;
    border-color: #ffa741;
    border-radius: 20px;
    border-width: 10px;
    background-color: #ffa741;
}
.middle-top{
    text-align: center;
    font-size: 40px;
    font-weight: 550;
    background-image: url(imagens/background-copy.jpeg);
    background-size: cover; 
    background-color: #ffa741;
    background-repeat: no-repeat; 
    width: 100%; 
    height: auto;
}
    
.container-tittles-top{
    padding-top:  30vh;
    padding-bottom: 35vh;

}
      
.tittle-1{
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0px;
    color: #660295;
    font-size: 30px;
}
.tittle-2{
    margin-top: 0%;
    padding-top: 0%;
    color: #ffdfba;
    font-size: 30px;
    margin-bottom: 0px;
}
.tittle-3{
    margin-top: 0%;
    padding-top: 0%;
    color: #075721;
    font-size: 30px;
    margin-bottom: 50px;
}

.button-1{
    border: none;
    border-radius: 30px;
    font-family: serif;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    width: 30%;
    background-color: #075721;
}
.middle-center{
    background-color: #fff5e9; 
    min-height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vw;

}
.container-video {
    padding-left: 4%;
}
.container-text{
    
    font-size: 18px;
    font-weight: bold;
    color: #6b481e;
    padding-left: 5vw;
    padding-right: 2vw;
}
.text-align{
    margin-bottom: 0;
}
.video{
    border-radius: 20px;
}
.middle-center-2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(imagens/formsbackground.jpeg);
    background-size: cover;
    background-color: #4d0b50;
    width: 100%;
    height: 60vw;
    
}
.forms{
    margin-right: 2vw;
    color: white;

}
.container-forms{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
}
.input {
    outline: none;
    padding: 20px;
    border-radius: 80px;
    border-style: none;
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
}
::placeholder{
    color: #23506d;
}

.input-user{
    outline: none;
    padding: 20px;
    border-radius: 80px;
    border-style: none;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.button-2{
    margin-top: 3%;
    text-align: center;
    border: none;
    border-radius: 30px;
    font-family: serif;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 9%;
    padding: 15px;
    background-color:#fc8700;
}
.container-forms-text{
    margin-top: 10%;
    color: white;
    padding-left: 3%;
    margin-top: 1%;
    font-size: 12px;
}
.paragraph-forms-text{

    margin-bottom: 0;
    font-weight: 1px;
    font-size: 15px;
    color: #c6b1c7;
}
h1{
    font-weight: bolder;
}
h2{
    font-weight: bolder;
    font-size: 40px;
}
.bottom-top{
    display: flex;
    background-color: #126c30;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65vw;
}
.bottom-top-2 {
    background-color: #FFF5E9;
}
.text-ecommerce{
    padding-top: 9%;
    text-align: center;
}
.text-ecommerce h3{
    font-size: 30px;
    margin-bottom: 2%;
    color: #562E00;
}
.text-ecommerce p {
    margin-bottom: 0%;
}
.container-modals{
    align-items: center;
    margin-top: 5%;
}
.container-ecommerce-1{
    display: flex;
}
.container-ecommerce-2{
    display: flex;
}
.modal-group-1{
    margin-right: 10%;
}
.iframe-band-camp{
    margin-left: 5%;
    margin-top: 8%;
}
.text-band-camp{
    margin-left: 10%;
    margin-top: 12%;
}
.paragraph-band-camp{
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: justify;
}
.bottom-medium{
    display: flex;
    width: 100%;
    height: 50vw;
    color:#562e00 ;
    background-color:#ffffff;
    align-items: center;
    justify-content: center;
}
.text-donation{
    margin-right: 20% ;
}
h3{
    margin-bottom: 5%;
    font-size: 50px;
    font-weight: bold;
}
.donation-paragraph{
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 20px;
}

.bottom-final{
    background-color: #FF961D;
    align-items: center;
    align-content: center;
}

.instagram-container{
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
}
.instagram-logo{
    padding-bottom: 25px;
}
.footer{
    background-color: #fff5e9;
    padding-top: 5%;
    color: #572f01;
}
.support{
    margin-right: 20%;
}
.support-info{
    border-left: solid;
    border-left-color: #6b481e;
    padding-left: 15px;
}

.support-paragraph{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2%;

}
.support-paragraph-1{
    margin-bottom: 0;
}
.container-support{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6%;
    margin-bottom: 50px;
}
.container-support-credits{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.support-credits{
    margin-right: 40%;
    padding-left: 10%;

}
.support-images{
    padding-right: 30px;
    padding-bottom: 60px;
    
}
